@font-face {
  font-family: mainFont;
  src: url('../fonts/Jura-SemiBold.ttf')
}

* {
  font-family: mainFont;
  color: rgb(19, 18, 18)
}
button {
  border: none;
  outline: none !important;
  cursor: pointer;
}

input {
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.ck.ck-editor__main>.ck-editor__editable {
  min-height: 200px;
}

#loading .loading {
  position: fixed;
  background: rgba(26, 25, 25, 0.658);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000000000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

#loading .loading img {
  width: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}

#extra-layout .header {
  background: rgb(250, 94, 32);
}

#extra-layout .header h1 {
  margin: 0;
  padding: 12px;
  text-align: center;
  position: relative;
}

#extra-layout .header h1 i {
  position: absolute;
  left: 32px;
  color: white;
}

#extra-layout .header h1 span {
  color: white;
}